*{margin:0;padding:0}
body *{ max-height: 999999px; }
.card {
  padding: 2em;
}
body{
  line-height: 0;
}
#app {
  height:100vh;
  line-height: 0.3rem;
  padding: 0.3rem;
  box-sizing: border-box;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
